// color palette
$bg: #0B1D26;
$text: #BDBDBD;
$pre-bg: #111;
$pre-borders: #333;
$code: firebrick;

@mixin spacing {padding: 0 0 3px 0;}

html,
body {
  font-family:      monospace, courier;
  margin:           0 auto;
  padding:          10px;
  max-width:        900px;
  background-color: $bg;
  color:            $text;
}

h3, h4 {@include spacing}

h3 {
  margin:         25px 0 0 0;
  text-transform: uppercase;
  display:        block;
  border-bottom:  2px solid $text;
}

h4 {
  margin:         25px 0 0 0;
  width:          50%;
  display:        block;
  border-spacing: 10px;
  border-bottom:  2px solid $text;
}

header {
  text-align:    center;
  margin-bottom: 60px;
}

th {
  text-align:    left;
  padding-right: 20px;
}

code {
  color:     $code;
  font-size: 1.2em;
}

pre > code {
  color:            $text;
  background-color: $pre-bg;
  font-size:        1.2em;
  font-family:      monospace;
  display:          block;
  padding:          10px;
  border:           1px solid $pre-borders;

  // Some trickery to allow pre to wrap nicely.
  // https://css-tricks.com/snippets/css/make-pre-text-wrap/
  & {
    white-space: pre-wrap; // css-3
    white-space: -moz-pre-wrap; // Mozilla, since 1999
    white-space: -pre-wrap; // Opera 4-6
    white-space: -o-pre-wrap; // Opera 7
    word-wrap:   break-word; // Internet Explorer 5.5+
  }
}

a:link, a:visited {
  color: white;
}

#site-map {
  width: 100%
}

.home {
  text-align: center;
  margin:     0 auto;
}